:root {
    --lg-bg-color: #f8f9fa;
    --lg-contraste: #cbd3da;
    --secciones-bordes-redondeado: 20px;
    --boton-hover: #EEC072;
    --color-fondo: #a2a6aa;
}


/*PRESENTACION*/

.mi-foto {
    width: 16rem;
}

/*CONTACT*/

.contact {
    background-color: var(--lg-bg-color);
    border-radius: var(--secciones-bordes-redondeado);
}

.iconContacto:hover {
    color: #7d7f81;
    cursor: default;
    transform: rotate(-15deg) scale(1.5);
    transition: ease-in-out 0.3s;
}

.iconContacto {
    cursor: default;
    color: var(--color-fondo);
    transform: rotate(360deg);
    transition: ease-in-out 0.5s;
}

.credit {
    color: var(--color-fondo);
}

.presentacion {
    overflow-wrap: break-word;
}


/*PROYECTOS*/

/*color barra de la barra de navegación */
.bg-magui {
    background-color: #d7faf3;
}

/*cursiva para los textos */
.italic {
    font-style: italic;
}

.otra {
    font-family:Cambodian;
}

/*CSS para mi nombre */
h1.concss {
    font-size: 40px;
    font-family:'Century Gothic';
   /* font-weight: bold;
    font-style: italic;*/
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #200a5f;
    text-shadow: 7px 4px 5px  #99e5d6; /*sombra en el tipo H1 */
}

/*separación entre caracteres */
.posit {     
    letter-spacing: 4px;
}

.item-proyecto {
    transition: ease-in-out 0.3s;
    text-align: center;
}

.item-proyecto:hover {
    transform: scale(1.025);
    transition: ease-in-out 0.3s;
}